node_modules
.directory

launchers
path.c/
lib/setup.c/
progress/
archived/

user/*
!user/*.example

!user/user_path
user/user_path/*
!user/user_path/README.md

!user/user_completion
user/user_completion/*
!user/user_completion/README.md

*.pyc

!lib/modules/install_modules/launchers
