{
    "comments": [
        "cmd:              Command used top open app",
        "pos:              Position to place the app window ([0-8])",
        "screen:           Screen number to place the app window",
        "windowDesktop:    (optional) Desktop number to place the app window (can also be 'current' or 'any')",
        "windowClass:      Window class (used to detect window)",
        "windowName:       (optional) Window class (used to detect window)",
        "identifyRetry:    (optional) Number of retries when a window is not dected",
        "identifyInterval: (optional) Wait interval between each retry"
    ],

    "scripts": {
        "index": 1,
        "apps": [
            {
                "cmd": "terminator -l scripts",
                "pos": 0,
                "screen": 1,
                "windowClass": "terminator\\.Terminator"
            },
            {
                "cmd": "atom -n /home/canale/Documents/Scripts",
                "pos": 5,
                "screen": 0,
                "windowClass": "atom\\.Atom"
            }
        ]
    }
}
