__CLASTFILE__.__TARGET_DIRECTORY__ = XXX

__TRASH__.__TRASH_DIR__ = XXX

__DUPLICATES_JAR__ = XXX

__LATEX_TOOLS__.__PACKAGES__ = XXX
__LATEX_TOOLS__.__TEMPLATES__ = XXX
__LATEX_TOOLS__.__IDENTITIES__ = XXX

__QNAP__.__MAC__ = XXX
__QNAP__.__ADDRESS__ = XXX

__LASTPASS__.__BACKUP_FILE___ = XXX
